.container.account-form
    form(name="form", novalidate)
        .input-row
            input.form-control.input-field(type="text", placeholder="First name", onfocus="this.placeholder = ''", required, ng-model="user.firstName", name="uFirstName"  )
            div(ng-show="form.$submitted || form.uFirstName.$touched")
                .validation-error(ng-show="form.uFirstName.$error.required") Please enter first name
        .input-row
            input.form-control.input-field(type="text", placeholder="Last name", onfocus="this.placeholder = ''", required, ng-model="user.lastName", name="uLastName" )
            div(ng-show="form.$submitted || form.uLastName.$touched")
                .validation-error(ng-show="form.uLastName.$error.required") Please enter last name
        .input-row
            input.form-control.input-field(type="email", required, placeholder="Email address", onfocus="this.placeholder = ''", ng-model="user.email", name="uEmail")
            div(ng-show="form.$submitted || form.uEmail.$touched")
                .validation-error(ng-show="form.uEmail.$error.required") Please enter an email address
                .validation-error(ng-show="form.uEmail.$error.email") Invalid email address
        .input-row
            input.form-control.input-field(type="email", placeholder="Confirm email address", onfocus="this.placeholder = ''", ng-model="user.confirmEmail", name="uConfirmEmail", required, confirm-input="user.email" )
            div(ng-show="form.$submitted || form.uConfirmEmail.$touched")
                .validation-error(ng-show="form.uConfirmEmail.$error.required || form.uConfirmEmail.$error.confirmed ") Please confirm your email address

        .input-row
            input.form-control.input-field(type="password" placeholder="Password" onfocus="this.placeholder = ''", ng-model="user.password", name="uPassword", required="", ng-minlength="6" )
            div(ng-show="form.$submitted || form.uPassword.$touched")
                .validation-error(ng-show="form.uPassword.$error.required") Please enter a password
                .validation-error(ng-show="form.uPassword.$error.minlength") Please use 6 or more characters
        .input-row
            input.form-control.input-field(type="password" placeholder="Confirm password" onfocus="this.placeholder = ''", ng-model="user.confirmPassword", required name="uConfirmPassword", confirm-input="user.password")
            div(ng-show="form.$submitted || form.uConfirmPassword.$touched")
                .validation-error(ng-show="form.uConfirmPassword.$error.required || form.uConfirmPassword.$error.confirmed ") Please confirm your password
        .input-row
            button.btn.btn-primary.btn-block(ng-click="submit(form)") REGISTER

        .input-row
            p(class="login-help") Already have an account? &nbsp
                a(href="#/login") Login here




