div(class="navbar  navbar-fixed-top navbar-dark-blue"  role="navigation")
   div(class="container")
      div(class="navbar-header")
         button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span(class="sr-only") Toggle navigation
         a(class="navbar-brand" href="#")
            img(class="brand-logo", src="" )

         div(class="navbar-headline") {{headline}}