html
    head
        meta(charset="utf-8")
        title Angular app skeleton
        link(type='text/css', rel='stylesheet', href='css/stylesheet.css')
        link(href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet")

        script(type="text/javascript" src="js/angular.min.js")
        script(type="text/javascript" src="js/angular-ui-router.js")
        script(type="text/javascript" src="js/angular-animate.min.js")
        script(type="text/javascript" src="js/ui-bootstrap-tpls.min.js")


        script(type="text/javascript" src="app.js")
        script(type="text/javascript" src="config.js")
        script(type="text/javascript" src="env.js")

    <!-- include:js(scripts/**/*.js) -->

    body(ng-app="myApp")
        div(class="page-container" )

            div(ui-view="header")
            .container.has-top-fixed-bar
                .row.row-offcanvas.row-offcanvas-left
                    .col-xs-12.col-sm-12( ui-view="main")
                    div(ui-view="menu")
                    .col-xs-12.col-sm-9( ui-view="content")

